$backgroun: rgb(241, 153, 153);

%centered {
    display: flex;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    background: #d18d8d;
    color: #662727;
    padding: 1rem;
    letter-spacing: 1px;
}

.erroMsg {
    color: #f21e08;
    padding: 0.5rem;
    padding-left: 0;
    max-width: 450px;
}

.successMsg {
    color: #00ff00;
    background: #077707;
    pad: 0.5rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

